<em>import React from 'react'</em>

<em>export default</em> ( <i>props</i>, <i>context</i> ) <em>=></em> {
	<em>const</em> <i>{</i> <b>name</b>, <b>header</b>, <b>footer</b>, <b>icon</b>, <b>onSearch</b>, <b>children</b> <i>}</i> = <i>props</i>
	
	<em>const</em> <s>onClick</s> = ( ) => {
		<b>onSearch && onSearch(0,1)</b>
	}
	
	<em>return </em> (
		<em>&lt;&gt;</em>
			<i>{</i> <b>name</b> <i>}</i>
			<i>{</i> <b>header && header</b> <i>}</i>
			<i>{</i> <b>footer || footer</b> <i>}</i>
			<i>{</i> <b>icon ? icon( ) : null</b> <i>}</i>
			
			<em>&lt;button</em> <u>onClick</u>=<i>{</i> <s>onClick</s> <i>}</i> <em>&gt;click&lt;/button&gt;</em>
			<em>&lt;button</em> <u>onClick</u>=<i>{</i> <s>onClick.bind(this)</s> <i>}</i> <em>&gt;click&lt;/button&gt;</em>
			<em>&lt;button</em> <u>onClick</u>=<i>{</i> <s>( )=>onClick( )</s> <i>}</i> <em>&gt;click&lt;/button&gt;</em>
			
			<em>&lt;button</em> <u>onClick</u>=<i>{</i> <b>onSearch.bind(this,0,1)</b> <i>}</i> <em>&gt;click&lt;/button&gt;</em>
			<em>&lt;button</em> <u>onClick</u>=<i>{</i> <b>( )=>onSearch(0,1)</b> <i>}</i> <em>&gt;click&lt;/button&gt;</em>
			
			<i>{</i> <b>children</b> <i>}</i>
		<em>&lt;/&gt;</em>
	)
}
<em>export default</em> ( <i>{</i> <b>name</b>, <b>header</b>, <b>footer</b>, <b>icon</b>, <b>onSearch</b>, <b>children</b> <i>}</i>, <i>context</i> ) <em>=></em> {
	<em>// 同上</em>
}