<em>export default</em>{
	<b>beforeCreate</b>		<em>( ){		}</em>,		<em>// <u>setup( )</u> 在对象创建完成时执行。开始 loadding 效果</em>
	<b>created</b>			<em>( ){		}<em>,		<em>// <u>setup( )</u> 在对象创建完成时执行。结束 loadding 效果</em>
	<b>beforeMount</b>		<em>( ){		}<em>,		<em>// onBeforeMount 挂载更新前执行</em>
	<b>mounted</b>		<em>( ){		}<em>,		<em>// onMounted 被创建时执行</em>
	<b>beforeUpdate</b>	<em>( ){		}<em>,		<em>// onBeforeUpdate 数据更新前执行</em>
	<b>updated</b>			<em>( ){ 		}<em>,		<em>// onUpdated 被更新后执行</em>
	<b>beforeDestroy</b>	<em>( ){		}<em>,		<em>// onBeforeUnmount 销毁之前执行</em>
	<b>destroyed</b>		<em>( ){ 		}<em>,		<em>// onUnmounted 销毁之后行</em>
	<b>activated</b>		<em>( ){		}<em>,		<em>// onActivated keep-alive 组件激活时后行</em>
	<b>deactivated</b>		<em>( ){ 		}<em> 		<em>// onDeactivated keep-alive 组件停用时后行</em>
	<b>errorCaptured</b>	<em>( ){ 		}<em> 		<em>// onErrorCaptured 出错时后行</em>
}