<em>import React from 'react'</em>

<i>class <b>Index</b> extends React.Component</i>{
	<em># state</em>
	<b>state</b> = { }
	<em># 生命周期函数</em>
	<b>componentDidMount</b>( ) { }
	<em>...</em>
	
	<em># 静态属性与方法，访问：<q>Index.x</q></em>
	<b>static</b> <s>title</s> = <em>'flutter'</em>
	<b>static</b> <s>fn</s> = <em>( ) => { }</em>
	
	<em># 自定义属性与方法，访问：<q>this.x</q> </em>
	<s>name</s> = <em>'react'</em>
	<s>user</s> = { }
	<s>onStart</s>( ){ }
	<s>onEnd</s> = ( ) => { }
	
	<em># 模板渲染</em>
	<b>render</b>( ){
		<u>return</u> <em>&lt;div /&gt;
	}
}
<em>export default</em> <b>Index</b>