<em>import React from 'react'</em>

<em>export default ( ) =></em>{
	
	<em>const</em> <i>myRef</i> = <b>React.createRef( )</b> 	<em>// 获取 ref</em>
	
	<em>const</em> <s>onClick</s> = ( ) => {
		<i>myRef.current</i>.<u>style.color</u> = <em>'red'</em>
	}
	
	<em>let</em> <i>yoRef</i> = <em>null</em>
	
	<em>const</em> <s>onSearch</s> = ( ) => {
		<i>yoRef</i>.<u>style.color</u> = <em>'red'</em>
	}
	
	<em>render( )</em>{
		&lt;&gt;
			<em>&lt;button</em> <b>ref</b>={<i>myRef</i>} <u>onClick</u>={<s>onClick</s>}<em>&gt;click&lt;/button&gt;</em>
			<em>&lt;button</em> <b>ref</b>={ <b>ref => <i>yoRef</i> = ref</b> } <u>onClick</u>={<s>onClick</s>}<em>&gt;click&lt;/button&gt;</em>
		&lt;/&gt;
	}
}