<em>import React from 'react'</em>

<em>const</em> <q>M</q> = {
	<b>Input</b>: 		( <s>props</s> ) => &lt;<u>input</u> <i>readOnly</i>={<s>props.readOnly</s>} <i>disabled</i>={<s>props.disabled</s>} /&gt;,
	<b>Textarea</b>: 	( <s>props</s> ) => &lt;<u>textarea</u> <i>readOnly</i>={<s>props.readOnly</s>} <i>disabled</i>={<s>props.disabled</s>} /&gt;,
	<b>Password</b>: 	( <s>props</s> ) => &lt;<u>input type='password'</u> <i>readOnly</i>={<s>props.readOnly</s>} <i>disabled</i>={<s>props.disabled</s>} /&gt;
}

<em># use</em>
<em>import <q>M</q> from 'Input'</em>
<em>export default</em> ( ) = (
	&lt;&gt;
		&lt;<q>M</q>.<b>Input</b> <s>disabled</s> <s>readOnly</s> /&gt;
		&lt;<q>M</q>.<b>Textarea</b> <s>disabled</s> <s>readOnly</s> /&gt;
		&lt;<q>M</q>.<b>Password</b> <s>disabled</s> <s>readOnly</s> /&gt;
	&lt;/&gt;
)