<em>export default</em>{
	<b>components</b>: {
		<i>template</i>		: <em>` &lt;div @click='run' &gt;{{ name }}&lt;/div&gt; {{ msg }} {{book}}`</em>,			<em>// 模板</em>
		<s>props</s>		: <q>[</q><em> 'name' </em><q>]</q>,							<em>// 接收参数</em>
		<s>data( ){</s> 											<em>// 模板变量</em>
			return <q>{</q> 
				<u>msg<u>: <em>'变量'</em> 
			<q>}</q>
		<s>}</s>,
		<s>methods: {</s> 										<em>// 方法</em>
			<u>run<u>( ){	}
		<s>}</s>,
		<s>computed: {</s> 										<em>// 计算属性</em>
			<u>book<u>( ){	
				return <em>100</em>
			}
		<s>}</s>，
		<s>watch: {</s> 										<em>// 侦听器</em>
			<u>msg</u>( <u>value</u> ){	
				return <u>this.msg</u><em>+ ' ' + </em><u>value</u>
			}
		<s>}</s>
	}
}