<em>import React from 'react'</em>

<em>const MyComponent</em> = <b>React.forwardRef</b>( (<u>props</u>,<i>myRef</i>) => <em>&lt;div</em> <b>ref</b>={<i>myRef</i>}<em>&gt;ref&lt;/div&gt;</em> )

<em>export default class Index extends React.Component</em>{
	
	<i>myRef</i> = <b>React.createRef( )</b> 		<em>// 获取 ref</em>
	
	<s>onClick</s> = { 
		<i>this.myRef.current</i>.<u>style.color</u> = <em>'red'</em>
	}
	
	<em>render( )</em>{
		<em>return</em>(
			&lt;&gt;
				<em>&lt;button</em> <u>onClick</u>={<s>onClick.bind(this)</s>}<em>&gt;click&lt;/button&gt;</em>
				<em>&lt;MyComponent</em> <b>ref</b>={<i>this.myRef</i>} <em>/&gt;</em>
			&lt;/&gt;
		)
	}
}