class <s>TestFlowDelegate</s> extends FlowDelegate {
    EdgeInsets margin = EdgeInsets.zero;		<em>// magin</em>
    int num = 2;								<em>// 每排元素个数</em>

    <em># 构造函数</em>
    TestFlowDelegate({this.margin,this.num});

    <em># child的绘制控制代码，可以调整尺寸位置，写起来比较的繁琐</em>
    @override
    void <b>paintChildren</b>(FlowPaintingContext <u>context</u>) {
        var x = margin.left;
        var y = margin.top;
        for (int i = 0; i < <u>context</u>).childCount; i++) {
            var w = <u>context</u>.getChildSize(i).width + x + margin.right;
            var n = this.num is int ? this.num : 2;
            if((i+1)% n == 0){
                w = <u>context</u>.getChildSize(i).width + x;
            }

            if (w < <u>context</u>.size.width) {
                <u>context</u>.paintChild(i,transform: new Matrix4.translationValues(x, y, 0.0));
                x = w + margin.left;
            } else {
                x = margin.left;
                y += <u>context</u>.getChildSize(i).height + margin.top + margin.bottom;
                <u>context</u>.paintChild(i,transform: new Matrix4.translationValues(x, y, 0.0));
                x += <u>context</u>.getChildSize(i).width + margin.left + margin.right;
            }
        }
    }
    <em># 是否需要重绘</em>
    @override
    bool <b>shouldRepaint</b>(FlowDelegate oldDelegate) {
        return oldDelegate != this;
    }
}

Flow(
	<b>delegate</b>: 	<s>FlowDelegate</s>
)