<em># 子组件 my-component</em>
<em>&lt;template&gt;</em>
	&lt;<q>slot</q> <b>name</b>='<i>header</i>'&gt;&lt;/<q>slot</q>&gt;
	&lt;<q>slot</q>&gt;&lt;/<q>slot</q>&gt;					<em>// 默认插槽</em>
<em>&lt;/template&gt;</em>

<em># 父组件</em>
<em>&lt;template&gt;</em>
	<em>&lt;div&gt;</em>
		<em>&lt;my-component&gt;</em>
			<em>&lt;<q>template</q> <b>v-slot : </b><i>header</i>&gt;</em> <em>header</em> <em>&lt;/<q>template</q>&gt;</em>
			<em>&lt;<q>template</q> <b>v-slot</b>&gt;</em> <em>default</em> <em>&lt;/<q>template</q>&gt;</em>
			<em>&lt;<q>template</q> <b>v-slot : </b><b>default</b>&gt;</em> <em>default</em> <em>&lt;/<q>template</q>&gt;</em> 
			<em># 缩写</em>
			<em>&lt;<q>template</q> <b>#</b><i>header</i>&gt;</em> <em>header</em> <em>&lt;/<q>template</q>&gt;</em>
			<em>&lt;<q>template</q> <b>#</b><b>default</b>&gt;</em> <em>default</em> <em>&lt;/<q>template</q>&gt;</em>
			<em>&lt;<q>template</q> <b>#</b>&gt;</em> <em>default</em> <em>&lt;/<q>template</q>&gt;</em> 
		<em>&lt;/my-component&gt;</em>
	<em>&lt;/div&gt;</em>
<em>&lt;/template&gt;</em>