<em>import React from 'react'</em>

<i>const</i> <b>SearchComponent</b> = ( <u>props</u>, <u>context</u> ) => <em>&lt;div&gt;&lt;/div&gt;</em> 		 

<i>const</i> <b>SearchComponent</b> = ( <u>props</u>, <u>context</u> ) => {
	<em>const a = 10</em>
	<s>return</s> </b> <em>&lt;div&gt;{a}&lt;/div&gt;</em>
}

<i>const</i>  <b>SearchComponent</b> = <q>function</q>( <u>props</u>, <u>context</u>  ){
	<s>return</s> </b> <em>&lt;div&gt;&lt;/div&gt;</em>
}

<q>function</q> <b>SearchComponent</b>( <u>props</u>, <u>context</u> ){
	<s>return</s> </b> <em>&lt;div&gt;&lt;/div&gt;</em>
}

<em>export default class Index extends React.Component</em>{
	<em>render( )</em>{
		<s>return</s> <b>&lt;SearchComponent /&gt;</b>
	}
}