<em>import React from 'react'</em>

<em>export default class Index extends React.Component</em>{
	<b>A</b>( <u>props</u>, <u>context</u> ){
		<s>return</s> </b> <em>&lt;div&gt;&lt;/div&gt;</em> 
	}
	<b>B</b> = ( <u>props</u>, <u>context</u> ) => <em>&lt;div&gt;&lt;/div&gt;</em> 
	<em>render( )</em>{
		<i>const</i> <b>C</b> = ( <u>props</u>, <u>context</u> ) => <em>&lt;div&gt;&lt;/div&gt;</em> 
		<s>return</s> (
			&lt;&gt;
				<b>  &lt;this.A /&gt; </b>
				<b>  &lt;this.B /&gt; </b>
				<b>  &lt;C /&gt; </b>
			&lt;/&gt;
		)
	}
}