<em>&lt;script&gt;</em>
	<em>export default</em> {
		<q>props</q> : {
			<em>data</em>: { <s>type</s>: <em>String</em>, <s>default</s>:'<em>100</em>' },
			<em>data</em>: { <s>type</s>: [<em>Object</em>], <s>default</s>: <b>{	}</b> },
			<em>data</em>: { <s>type</s>: [<em>Object</em>], <s>default</s>: ( )=> (<b>{	}</b>) },
			<em>data</em>: { <s>type</s>: [<em>Array</em>], <s>default</s>: <b>[	]</b> },
			<em>data</em>: { <s>type</s>: [<em>Array</em>], <s>default</s>: ( )=> <b>[	]</b>) },
		}
	}
<em>&lt;/script&gt;</em>